<!DOCTYPE html>
<html>
  <head>
    <title>Causality Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>
  <body>
    <div id="react-app-root"></div>
  </body>
</html>